.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: sans-serif;
}

.search-bar {
    display: flex;
    gap: 8px;
    margin-bottom: 50px;
}

.search-bar input {
    flex: 1;
    padding: 14px 18px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 20px;
    outline: none;
}

.search-bar button {
    padding: 14px 28px;
    background-color: #EF6461;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    cursor: pointer;
}

.search-bar input:focus {
    border-color: #E4B363;
}



.search-bar button:hover {
    background-color: #c99a4e;
}

.book-item {
    border: 10px solid #ccc;
    border-radius: 6px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
}

.h2InLine {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  color: #EF6461;
  margin: 0 0 10px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
.h3InLine {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  color: #E8E9EB;
  margin: 0 0 10px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

.h4InLine {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  color: #c99a4e;
  margin: 0 0 10px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
  text-decoration: underline;
}
